<% layout("/layouts/boilerplate") %>

<div class="alert alert-danger" role="alert">
    <p class="alert-heading"><%= locals.message || "Something went wrong" %></p>
    <% if (locals.stack) { %>
        <pre><%= locals.stack %></pre>
    <% } %>
</div>